<div class="my-2 text-left">
  <button class="btn btn-rounded btn-primary" type="button" style="background-color: #03738C;" (click)="agregar()">Agregar Estudio</button>
</div>

<div class="card" *ngFor="let est of persona.estudios; let i=index">
  <h5 class="card-header">Estudio {{ i + 1}}</h5>
  <div class="card-body">
    <h4>{{ est.nombreTitulo }} {{ est.desde | date: 'dd/MM/yyyy' }} - {{ est.hasta | date: 'dd/MM/yyyy' }} </h4>
    <p>{{ est.institucion }}</p>
    <p class="mb-0"> Tipo: {{ est.tipoEstudio }}</p>
  </div>
  <div>
    <button type="button" class="btn btn-warning m-1" style="background-color: #72DBF2;" (click)="modificar(est.id)">Editar</button>
    <button type="button" class="btn btn-danger m-1" (click)="eliminar(est)">Eliminar</button>
  </div>
</div>
