
<div class="my-2 text-left">
  <button class="btn btn-rounded btn-primary" type="button" style="background-color: #03738C;" (click)="agregar()">Agregar Conocimiento</button>
</div>

<div class="card" *ngFor="let con of persona.conocimientos; let i=index">
  <h5 class="card-header">Conocimiento {{ i + 1 }}</h5>
  <div class="card-body">
    <h4>{{ con.nombre }}</h4>
    <p class="mb-0">Descripción: {{ con.descripcion }}</p>
    <p>Dominio de la tecnología: {{ con.nivel }} %</p>
  </div>
  <div>
    <button type="button" class="btn btn-warning m-1" style="background-color: #72DBF2;" (click)="modificar(con.id)">Editar</button>
    <button type="button" class="btn btn-danger m-1" (click)="eliminar(con)">Eliminar</button>
  </div>
</div>